.cards{
    padding: 0;
    margin : 1em;
    text-align: justify;
    box-shadow: 3px 3px 4px black;
    border-radius: 2em;
    width: 800px;
}

.cards:hover{
    box-shadow: 6px 6px 6px black;
}

p{
    margin-left: 1em;
}

h2{
    font-size: 16px;
    margin:0;
    padding: 0;
}

.titre{
    margin-left: 0;
    padding: 1em;
    text-align: center;
    background-color: black;
    border-radius: 2em 1.8em 0 0;
    color: white;
    font-size: 16px;
}

.info{
    padding: 1em;
    padding-top: 0;
}