<div class="conteneur">
    <h1>En Polynésie, le tatouage est un art profondément symbolique</h1>
    <p>Dans la culture polynésienne, l'art du tatouage sert à raconter l'histoire de celui ou 
    celle qui en porte. Trouver sa propre signification est donc une étape essentielle pour honorer
     et respecter cette tradition de longue date.
    </p>
    <img src="https://static.nationalgeographic.fr/files/styles/image_3200/public/resized-nationalgeographic_2176890.webp?w=1600&h=900" 
    alt="À Oʻahu, à Hawaï, un jeune homme se fait tatouer en suivant la technique traditionnelle, avec un peigne pointu 
    trempé dans l'encre et tapé sur la peau. L'art du tatouage est pratiqué dans tout le triangle polynésien, 
    avec des motifs et des significations qui varient d'une culture à l'autre."/>

    <p>Ta-tau, ta-tau, ta-tau. Les sons des outils de tatouages polynésiens traditionnels résonnent 
    alors que l’os aussi aiguisé qu’une aiguille pique ma peau. Alors que l’assistant du tatoueur 
    James Samuela maintient ma jambe, je regarde par la fenêtre du studio pour observer la nature 
    verdoyante de Moorea, et le temps ralentit. Cela fait maintenant trois ans que je pense à ce tatouage. 
    Entre ma première discussion en personne avec l'artiste dans le jardin du studio et l’achèvement du tatouage, 
    il s’est écoulé moins de trois heures.
    </p>
    <img src="https://static.nationalgeographic.fr/files/styles/image_3200/public/resized-nationalgeographic_2748531.webp?w=710&h=474" 
    alt="Papeete, la capitale de Tahiti et de la Polynésie française, accueille les navires de croisière. 
    Tahiti est l'une des destinations touristiques les plus populaires de la région."/>


    <h2>TRANSMETTRE UN HÉRITAGE</h2>
    <p>
        Autrefois, les pratiques culturelles polynésiennes se transmettaient à l’oral, mais les tatouages ont également 
        joué un rôle dans la transmission des connaissances, utilisant le corps comme une toile. « Traditionnellement, 
        le tatau servait de pièce d’identité ou de rang social, permettant de suivre la généalogie de la famille et de 
        représenter les étapes importantes de la vie », explique Samuela, dont les parents sont originaires de Polynésie 
        française : sa mère des îles Marquises et son père de l’île de Tahiti, la capitale de la Polynésie française.
    </p>
    <img src="https://static.nationalgeographic.fr/files/styles/image_3200/public/polynesiantattoo_marquesancross_sm.webp?w=380&h=254"
     alt="tatouage" />
    <img src="https://static.nationalgeographic.fr/files/styles/image_3200/public/polynesiantattoo_dancingflame_sm.webp?w=380&h=254" 
    alt="tatouage"/><br/>
    <strong>Gauche:</strong>
    <i>
        Les îles qui composent la Polynésie sont culturellement diverses et possèdent des traditions et des symboles de tatouage uniques. 
        Ce modèle, tiré du Polynesian Tattoo Dictionary: Marquesas Islands de Teiki Huukena montre une croix peka 'enana. C'est l'un des 
        motifs marquisiens les plus populaires, il représente une forme humaine, dont les quatre membres sont illustrés par des lignes 
        courbes à l'intérieur d'un bloc.
    </i><br />
    <strong>Droite:</strong>
    <i>La flamme dansante des Marquisiens symbolise la lumière qui éloigne la mort.</i><br />

    <p>
        Dans de nombreuses îles du Pacifique, les pratiques culturelles traditionnelles ont été réprimées, voire interdites dès 
        les premiers contacts avec les pays occidentaux. « Le tatouage était souvent pratiqué pour défier les puissances coloniales, 
        c’est donc l’une des premières choses que les hommes blancs ont tenté d’éradiquer », selon Tricia Allen, une tatoueuse établie 
        à Oahu qui possède une vaste expérience de l’histoire polynésienne, et qui est l’autrice de l’ouvrage The Polynesian Tattoo 
        Today et Tattoo Traditions of Hawaii. « Même si au cours des dernières décennies, les habitants des îles du Pacifique ont 
        fait revivre nombre de leurs arts traditionnels et sont fiers de leur patrimoine culturel, on comprend pourquoi le tatouage 
        peut être un sujet sensible pour les [communautés natives]. »
    </p>

    <h2>RACONTER SA PROPRE HISTOIRE</h2>
    <p>Pour de nombreux tatoueur.se.s polynésien.ne.s, ce qui fait la différence entre respecter et s’approprier une œuvre culturelle, 
        c’est le fait que chaque tatouage soit totalement unique, issu d’une conversation entre l’artiste et le client.
    </p>
    <img src="https://static.nationalgeographic.fr/files/styles/image_3200/public/resized-nationalgeographic_1404819.webp?w=710&h=474"
    alt="Un touriste reçoit un tatouage traditionnel samoan dans sa chambre d'hôtel au Annie Grey's Lagoon Beach Resort, à Apia, dans les Samoa." />
</div>